@import "tailwindcss";

@theme {
  --color-primary: #25f0bc;
  --color-success: ;
  --color-info: ;
  --color-warning: ;
  --color-error: ;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply h-screen w-screen overflow-x-hidden bg-gradient-to-bl from-primary/60 to-white;
  }

  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl uppercase font-medium;
  }
  h3 {
    @apply text-xl font-light
  }

  button {
    @apply cursor-pointer;
  }

  input {
    @apply outline-0;
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-emerald-500 to-green-600 bg-clip-text text-transparent;
}

@utility btn {
  @apply font-semibold text-sm px-4 py-2 rounded-xl grid place-items-center bg-white/60 shadow-lg shadow-primary border-t-2 border-primary hover:shadow-md hover:bg-primary/10;
}
