@import "tailwindcss";

@theme {
  --color-primary: #25f0bc;
  --color-success: ;
  --color-info: ;
  --color-warning: ;
  --color-error: ;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply h-screen w-screen overflow-x-hidden bg-gradient-to-bl from-primary/60 to-white;
  }

  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl uppercase font-medium;
  }
  h3 {
    @apply text-xl font-light
  }
  h4 {
    @apply text-lg font-medium;
  }

  button {
    @apply cursor-pointer;
  }

  input {
    @apply outline-0;
  }
}

@layer components {
  .blob-container {
    @apply fixed top-0 left-0 -right-50 bottom-0;

    & svg {
      @apply absolute -top-20 scale-90;
      animation: reveal 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }

    & svg:nth-child(2) {
      animation-delay: 200ms;
    }
    & svg:nth-child(3) {
      animation-delay: 400ms;
    }
    & svg:nth-child(4) {
      animation-delay: 600ms;
    }
  }
  .loadingComponent {
    animation: loadingAnimation 1s ease infinite;
  }
  .item {
    animation: addItem 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-green-400 to-emerald-600 bg-clip-text text-transparent;
}

@utility btn {
  @apply font-semibold text-sm px-4 py-2 rounded-2xl grid place-items-center bg-white/80 shadow-lg shadow-primary border-t-2 border-primary hover:shadow-md hover:bg-primary/50 transition-all;
}

@utility input {
  @apply text-base flex-1 pl-3 p-2 bg-white rounded-2xl;
}

@keyframes reveal {
  0% {
  }
  100% {
    scale: 1;
    top: 0;
    right: -208px;
  }
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes addItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
